
/* simpre va esto*/
html {
      font-size: 62.5%;
      /**hack de rems espara que los rem sea mas precisos**/

      box-sizing: border-box;
      /*solucion de la caja de html con las dimensiones*/
}
  *, *:before, *:after {
  box-sizing: inherit;
}

body {
      font-size: 16px;
      /**hack de rems espara que los rem sea mas precisos**/
    
      line-height: 1.5; /*interlineado de la base*/

}
