
:root{  --fuenteparrafo: 'Open Sans' , sans-serif;
        --fuentehead: 'PT Sans', sans-serif;
        --colorprimario: rgb(199, 93, 27);
        --blanco:rgb(255, 255, 255);
        --negro: rgb(0, 0, 0);
}

/* simpre va esto*/
html {
      font-size: 62.5%;/*un rem  vale 1px gracias a este codigo*/
      /**hack de rems espara que los rem sea mas precisos**/

      box-sizing: border-box;
      /*solucion de la caja de html con las dimensiones*/
}
  *, *:before, *:after {
  box-sizing: inherit;
}

body {
      font-size: 1.6rem;
      /**hack de rems espara que los rem sea mas precisos**/
      font-family: var(--fuenteparrafo);
      line-height: 2; /*interlineado de la base*/
   /*los blogs se mira mejor con un interlineado mas alto de 1.5  mjor 2*/
}
 /*global*/
.contenedor{ max-width: 120rem;
             margin: 0;
             width: 90%

}

a { text-decoration: none;/*eliminar las lineas de los enlaces*/

}

h1 , h2 , h3 , h4 { font-family:  var(--fuentehead);

}
h1{ font-size: 4.8rem;

}
h2{ font-size: 4rem;


}
h3{ font-size: 3.2rem;


}
h4{ font-size: 2.8rem;
}

img{ max-width: 100%;

}

 /*utilidades*/
.no_margi{ margin: 0; /*quitar margenes*/

}

.no_paddin{ padding: 0;

}

.centar_texto{ text-align: center;
}
