
:root{  --fuenteparrafo: 'Open Sans' , sans-serif;
        --fuentehead: 'PT Sans', sans-serif;
        --colorprimario: rgb(199, 93, 27);
        --blanco:rgb(255, 255, 255);
        --negro: rgb(0, 0, 0);
}

/* simpre va esto*/
html {
      font-size: 62.5%;/*un rem  vale 1px gracias a este codigo*/
      /**hack de rems espara que los rem sea mas precisos**/

      box-sizing: border-box;
      /*solucion de la caja de html con las dimensiones*/
}
  *, *:before, *:after {
  box-sizing: inherit;
}

body {
      font-size: 1.6rem;
      /**hack de rems espara que los rem sea mas precisos**/
      font-family: var(--fuenteparrafo);
      line-height: 2; /*interlineado de la base*/
   /*los blogs se mira mejor con un interlineado mas alto de 1.5  mjor 2*/
}
 /*global*/
.contenedor{ max-width: 120rem; /*muy bueno para centrar*/
             margin: 0 auto ;
             width: 90%


}

a { text-decoration: none;/*eliminar las lineas de los enlaces*/

}

h1 , h2 , h3 , h4 { font-family:  var(--fuentehead);

}
h1{ font-size: 4.8rem;

}
h2{ font-size: 4rem;


}
h3{ font-size: 3.2rem;


}
h4{ font-size: 2.8rem;
}

img{ max-width: 100%;

}
 /*fin de global*/
 /*utilidades*/
.no_margin{ margin: 0; /*quitar margenes*/

}

.no_paddin{ padding: 0;

}

.centar_texto{ text-align: center;
}
/*fin de utilidad*/

.header{ background-image: url("img/banner.jpg");
         height: 60rem;
         background-size: cover;/*para que la imagen se centre*/
         background-repeat: no-repeat;/*la imagen no se repita*/
         background-position: center center; ;/*la imagen empezara del entro tanto horiontal como vertical*/


}

.header_texto{ color: var(--blanco);
              text-align: center;
              margin-top: 5rem
}


@media (min-width:1000px) {
  .barra{
            display: flex;
            justify-content: space-between;
            align-items: center;/*poner elementos en linea*/

  }

   }
   @media (max-width:1000px) { /*para celular*/
     .navegacion_enlace{ display: block;
                            text-align: center;
                            font-size: 2rem;

        }

      }

.logo{ text-align: center;
        margin: 0 ;

}

.logo_nombre{ font-weight: normal;

}
.logo_negrita{font-weight: 700; /*bajar le a la negrita*/

}
.logo_negrita , .logo_nombre , .navegacion_enlace{
  margin: 0;
  text-align: center;
  color: var(--blanco)

}

.navegacion_enlace{ margin-left: 2rem; /*tambien se puede usar gap de dos 2em*/

}

@media (min-width:1000px) {
  .contenedor_principal{
            display: grid;

  }

   }


   @media (min-width:1000px) { /*para celular*/
     .contenedor_principal{  display: grid;
                             grid-template-columns: 2fr 1fr;
                             column-gap: 4rem;
        }

      } /*onfiguracion para pantallas gardes mas de 1000px*/
.boton{ /*debera llamar se entrada boton*/
  
}
